---
title: Heartful.ly Components
---
<%= partial "svg" %>

<%= partial "components/nav" %>
<%= partial "components/status" %>

<%= partial "components/project-header" %>
<%= partial "components/project-summary" %>
<%= partial "components/project-about" %>
<%= partial "components/quote" %>
<%= partial "components/project-details" %>
<%= partial "components/registry-card" %>
<div class="test">
  <%= partial "components/project-mini" %>
</div>
<%= partial "components/footer" %>
