---
title: Heartful.ly Registry
---
<%= partial "svg" %>

<%= partial "components/nav" %>
<%= partial "components/hero" %>
<%= partial "components/breaker" %>
<%= partial "components/paragraph" %>
<div class="test">
<%= partial "components/project-tabbed" %>
</div>
<%= partial "components/registry-card" %>
<%= partial "components/breaker" %>
<%= partial "components/footer" %>